.header {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    perspective: 400;
}

.hero {
    display: flex;
    left: 50%;
    transform: translateX( -50% ) translateZ( 0 ) rotateX( 60deg );
    position: absolute;
    top: 0;
    z-index: 1;

    &__headline {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: transform 0.016s ease;
        z-index: 2;
    }

    &__h2 {
        margin-top: 10px;
    }

    &__col {
        flex-grow: 0;
        flex-shrink: 0;
        width: 20px;
        margin: 0 20px;
        transition: transform 0.016s ease;
    }

    &__line {
        width: 100%;
        border-radius: 40px;
        will-change: transform;

        .hero.will--init & {
            // opacity: 0;
        }

        + .hero__line {
            margin-top: 20px;
        }

        &.size--small {
            height: 20px;
        }

        &.size--medium {
            height: 40px;
        }

        &.size--large {
            height: 80px;
        }

        &.size--extra-large {
            height: 100px;
        }
    }
}
