$dark: #282A36;
$blue: #96CBFE;
$purple: #B73B99;
$green: #96C76D;
$orange: #D19159;
$red: #E13B3F;
$white: #FFFFFF;
$yellow: #F8E71C;

.bg-- {
    &blue {
        background-color: $blue;
    }

    &purple {
        background-color: $purple;
    }

    &green {
        background-color: $green;
    }

    &orange {
        background-color: $orange;
    }

    &red {
        background-color: $red;
    }

    &white {
        background-color: $white;
    }

    &yellow {
        background-color: $yellow;
    }

    &dark {
        background-color: $dark;
    }
}

.color-- {
    &blue {
        color: $blue;
    }

    &purple {
        color: $purple;
    }

    &green {
        color: $green;
    }

    &orange {
        color: $orange;
    }

    &red {
        color: $red;
    }

    &white {
        color: $white;
    }

    &yellow {
        color: $yellow;
    }

    &dark {
        color: $dark;
    }
}
